/* Customize container */
.container {
  padding-top: 15px;
  padding-bottom: 50px;
}

/* General tags */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.contentblock {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

}

html {
  position: relative;
  min-height: 100%;
}

.blog-index {
  padding-right: 5px;
  border-right: 1px dashed #333;
}

.footer {
  border-top: 1px dashed #333;
}
