{% for member in site.data.members %}
{% if member.linkedin == page.id %}
<div class="row">
  <div class="col-md-4">
    <img height=280 width=280 src={{ member.image }} class="img-rounded center-block">
    <div class="text-center">
      <h2>{{ member.name }}</h2>
      <p>{{ member.blurb }}</p>
      <a href="https://www.linkedin.com/in/{{ member.linkedin }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/linkedin-variation.png"></a>&nbsp&nbsp
      <a href="https://github.com/{{ member.github }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/github.png"></a>&nbsp&nbsp
      <a href="https://twitter.com/{{ member.twitter }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/twitter-variation.png"></a>
    </div>
  </div>

    <div class="col-md-8">
      <div class="panel panel-default">
      <div class="panel-heading">Projects</div>
        <table class="table table-condensed">
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Blog Post</td>
            <td>GitHub Repo</td>
          </tr>
        </table>
      </div>
        <br>
        <br>
        <br>
        <div class="panel panel-default">
        <div class="panel-heading">Blog Posts</div>
          <table class="table table-condensed">
            <tr>
              <th>Date</th>
              <th>Title</th>
            </tr>
            {% for post in site.posts %}
            {% if post.author == member.name %}
            <tr>
              <td>{{ post.date | date_to_string }}</td>
              <td><a href={{ post.url }}>{{ post.title }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>
      </div>
{% endif %}
{% endfor %}
