{% assign member = site.data.members[page.id] %}
<div class="row">
  <div class="col-md-4">
    <img height=280 width=280 src={{ member.image }} class="img-rounded center-block">
    <div class="text-center">
      <h2>{{ member.name }}</h2>
      <p>{{ member.blurb }}</p>
      <a href="https://www.linkedin.com/in/{{ member.linkedin }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/linkedin-variation.png"></a>&nbsp&nbsp
      <a href="https://github.com/{{ member.github }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/github.png"></a>&nbsp&nbsp
      <a href="https://twitter.com/{{ member.twitter }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/twitter-variation.png"></a>
    </div>
  </div>

    <div class="col-md-8">
      <div class="panel panel-info">
      <div class="panel-heading">Projects</div>
        <table class="table table-condensed" width=80%>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Blog Post</th>
            <th>GitHub Repo</th>
          </tr>
          <tbody class="table-hover">
          {% for proj in site.data.projects %}
            {% for author in proj.authors %}
              {% assign aname = site.data.members[author] %}
              {% if aname.name == member.name %}
                <tr>
                  <td>{{ proj.name }}</td>
                  <td>{{ proj.description }}</td>
                  <td align="center"><a href={{ proj.blog }}>Link</a></td>
                  <td align="center"><a href={{ proj.ghub }} target="_blank">Link</a></td>
                <tr>
              {% endif %}
              {% endfor %}
          {% endfor %}
        </tbody>
        </table>
      </div>
        <br>
        <br>
        <br>
        <div class="panel panel-info">
        <div class="panel-heading">Blog Posts</div>
          <table class="table table-condensed" width=80%>
            <tr>
              <th>Date</th>
              <th>Title</th>
            </tr>
            <tbody class="table-hover">
            {% for post in site.posts %}
            {% assign pauthor = site.data.members[post.author] %}
            {% if pauthor.name == member.name %}
            <tr>
              <td>{{ post.date | date_to_string }}</td>
              <td align="center"><a href={{ post.url }}>{{ post.title }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
          </table>
      </div>
