---
layout: default
title: Davis Incubator Group - Members
---
{% for member1 in site.data.members %}
{% assign member = member1[1] %}
  {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
  {% if thecycle == '1' %}
    <div class="row">
  {% endif %}
  <div class="col-md-4">
    <img height=140 width=140 src={{ member.image }} class="img-rounded center-block">
    <div class="text-center">
      <h3><a href="/members/{{ member1[0] }}">{{ member.name }}</a></h3>
      <p>{{ member.blurb }}</p>
      <a href="https://www.linkedin.com/in/{{ member.linkedin }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/linkedin-variation.png"></a>&nbsp&nbsp
      <a href="https://github.com/{{ member.github }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/github.png"></a>&nbsp&nbsp
      <a href="https://twitter.com/{{ member.twitter }}" target="_blank"><img height=32 width=32 src="/images/smediaicons/twitter-variation.png"></a>
    </div>
  </div>
  {% if thecycle == '3' or forloop.last %}
    </div>
    <br>
    <br>
    <br>
  {% endif %}
{% endfor %}
