---
layout: default
title: Davis Incubator Group - Members
---
{% for member in site.data.members %}
  {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
  {% if thecycle == '1' %}
    <div class="row">
  {% endif %}
  <div class="col-md-4">
    <img src={{ member.image }} class="img-circle img-thumbnail"><br>
    <h3>{{ member.name }}</h3><br>
    <p>{{ member.blurb }}</p>
    <a href="https://www.linkedin.com/in/{{ member.linkedin }}">LinkedIn</a>
    <a href="https://github.com/{{ member.github }}">GitHub</a>
    <a href="https://twitter.com/{{ member.twitter }}">twitter</a>
  </div>
  {% if thecycle == '3' or forloop.last %}
    </div>
  {% endif %}
{% endfor %}
