---
layout: default
---
{% assign author = site.data.members[page.author] %}
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>
<h3>by: <a href="/members/{{page.author}}">{{ author.name }}</a></h3>
<br>
<div class="col-md-8 col-md-offset-2">
  <p>
    {{ content }}
  </p>
  <br>
  <a class='btn btn-primary' href="/blog/">Other Blog Posts</a>
  <div class='pull-right'
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="davisincgrp @{{ author.twitter }}" data-size="large" data-related="davisincgrp {{ author.twitter }}">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <br><br><br>
</div>
